@model ViewModels.Transport

@{
    ViewBag.Title = "Add Transport";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@Styles.Render("~/Content/css/customsweetcss")
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Transport Master</b></h4>
            <p class="text-muted font-13 m-b-30">
                Add/Edit Transport here
            </p>
            @using (Html.BeginForm("Add", "Transport", FormMethod.Post, new { @class = "form-horizontal m-t-20", @id = "frmTransport" }))
            {
                <form class="form-horizontal" role="form" data-parsley-validate novalidate>
                    <div class="form-group">
                        <label for="hori-pass1" class="col-sm-4 control-label">Transporter Name</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Transporter Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Address</label>
                        <div class="col-sm-7">
                            @Html.HiddenFor(x => x.ID, new { @class = "form-control" })
                            @Html.TextAreaFor(x => x.Address, new { @rows = "2", @class = "form-control", @placeholder = "Address" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hori-pass1" class="col-sm-4 control-label">Contact Person</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(x => x.ContactPerson, new { @class = "form-control", @placeholder = "Contact Person" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hori-pass2" class="col-sm-4 control-label">Mobile Number</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", @placeholder = "Mobile" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="webSite" class="col-sm-4 control-label">Phone Number</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "Phone" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <a href="@Url.Action("Add", "Transport", new { ID=0})" id="btnAdd" type="button" class="btn btn-lg btn-lg btn-default waves-effect waves-light m-l-5">
                                <i class="ti-plus"></i>&nbsp;&nbsp;Add
                            </a>
                            <button id="btnSave" type="submit" class="btn btn-lg btn-primary waves-effect waves-light">
                                <i class="ti-save"></i>&nbsp;&nbsp; Save
                            </button>
                            <button id="btnDelete" type="button" class="btn btn-lg btn-danger waves-effect waves-light m-l-5">
                                <i class="ti-trash"></i>&nbsp;&nbsp;Delete
                            </button>
                            <button id="btnView" type="button" class="btn btn-lg btn-warning waves-effect waves-light m-l-5">
                                <i class="ti-search"></i>&nbsp;&nbsp;View
                            </button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Tranports</h4>
    <div class="custom-modal-text" id="AllTransport" style="max-height:500px;overflow:auto;">

    </div>
</div>

@Scripts.Render("~/Content/css/customsweetjs")
<script>
    function TransportAdded(response) {
        swal({
            title: "Information",
            text: "Transport is saved successfully.",
            type: "success"
        }, function () {
            $('#btnAdd')[0].click();
        });
    }

    $(document).ready(function () {
        $('#frmTransport').validate({
            // Specify the validation rules
            rules: {
                Name: "required",
                //Address: "required",
                //ContactPerson: "required",
                //Mobile: "required"
            },

            // Specify the validation error messages
            messages: {
                Name: "Please enter Name",
                //ContactPerson: "Please enter Contact Person Name",
               // Mobile: "Please enter Mobile Number"
            },

            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Add","Transport")",
                    data: $('#frmTransport').serialize(),
                    success: function (response) {
                        TransportAdded();
                    }
                });
                return false;
            }
        });
        $('#btnView').click(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAll","Transport")",
                success: function (response) {
                    $('#AllTransport').html(response);
                    Custombox.open({
                        animation: 'rotatedown',
                        plugin: 'custommodal',
                        overlayspeed: '100',
                        overlaycolor: '#36404a',
                        target: '#custom-modal'
                    });
                    $('body').on('dblclick', '#tblTransport tbody tr', function () {
                        window.location.href = '@Url.Action("Add", "Transport", new { Id="REPLACE"})'.replace('REPLACE', $(this).data('empid'));
                    });
                }
            });

        });
        $('#btnDelete').click(function () {
            if ($('#ID').val() == "0") {
                swal("Please select any record First!", "In order to delete emplyee, You need to select an Transport first.")
            }
            else {
                swal({
                    title: "Are you sure want to delete this Transport?",
                    text: "You will not be able to recover this record!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel plz!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("Delete","Transport")",
                            data: { ID: $('#ID').val() },
                            success: function (response) {
                                if (response.IsSuccess == true) {
                                    swal("Deleted!", "Transport is deleted Successfully.", "success");
                                    setTimeout(5000, function () {
                                        $('#btnAdd')[0].click();
                                    });
                                }
                                else {
                                    swal("Opssss!", "Something seems wrong while deleting Transport.", "error");
                                }
                            }
                        });

                    } else {
                        swal("Cancelled", "Transport is safe :)", "error");
                    }
                });
            }
        });
    });
</script>