@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@Styles.Render("~/Content/css/customsweetcss")
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Change your Password</b></h4>
            <p class="text-muted font-13 m-b-30">
                Add/Edit Lab Parameter here
            </p>
            @using (Html.BeginForm("Add", "ChaangePassword", FormMethod.Post, new { @class = "form-horizontal m-t-20", @id = "frmChangePassword" }))
            {

                <div class="form-group">
                    <label for="hori-pass1" class="col-sm-4 control-label">Old Password</label>
                    <div class="col-sm-7">
                        <input class="form-control" name="Password" placeholder="Old Password" type="password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="hori-pass1" class="col-sm-4 control-label">New Password</label>
                    <div class="col-sm-7">
                        <input class="form-control" id="NewPassword" name="NewPassword" placeholder="New Password" type="password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="hori-pass1" class="col-sm-4 control-label">Confirm New Password</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" name="ConfirmNewPassword" placeholder="New Password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">

                        <button id="btnSave" type="submit" class="btn btn-lg btn-primary waves-effect waves-light">
                            <i class="ti-save"></i>&nbsp;&nbsp; Update Password
                        </button>

                    </div>
                </div>

            }
        </div>
    </div>
</div>
@Scripts.Render("~/Content/css/customsweetjs")
<script>
    function ChangePasswordDone(response) {
        swal({
            title: "Information",
            text: "Password is Changed successfully.",
            type: "success"
        }, function () {
            window.location.href = "@Url.Action("Index","Dashboard")";
        });
    }

    $(document).ready(function () {
        $('#frmChangePassword').validate({
            rules: {
                Password: {
                    required: true,
                    remote: {
                        url: '@Url.Action("CheckOldPassword", "Employee")',
                        data: { ID: $('#ID').val() },
                        type: "POST"
                    }
                },
                NewPassword: {
                    required: true
                },
                ConfirmNewPassword: {
                    required: true
                }
            },
            messages: {
                Password: {
                    required: "Please enter Old Password",
                    remote:"Please enter your correct password"
                },
                NewPassword: {
                    required: "Please enter New Password"
                },
                ConfirmNewPassword: {
                    required: "Please enter Confirm Password"
                }
            },

            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePassword", "Account")",
                    data: { Password: $('#NewPassword').val() },
                    success: function (response) {
                        ChangePasswordDone();
                    }
                });
                return false;
            }
        });
    });
</script>