@model IEnumerable<ViewModels.Product>
@Styles.Render("~/Content/css/datatablecss")
<table id="tblProduct" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Group</th>
            <th>Print Name</th>
            <th>Unit</th>
            <th>Has Shade?</th>
            <th>Has Packing?</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var product in Model)
            {
                <tr data-empid="@product.ID">
                    <td>@product.Name</td>
                    <td>@product.ProductGroupName</td>
                    <td>@product.PrintName</td>
                    <td>@product.ProuctUnitName</td>
                    <td>@product.HasShade</td>
                    <td>@product.HasPacking</td>
                </tr>
            }
        }
    </tbody>
</table>
@Scripts.Render("~/Content/js/datatablejs")
<script>
    $(document).ready(function () {
        $('#tblProduct').DataTable();
    });
</script>