@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@Styles.Render("~/Content/css/datatablecss")
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="portlet">
            <div class="portlet-heading bg-primary">
                <h3 class="portlet-title">
                    Batch Status
                </h3>
                <div class="portlet-widgets">
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#batchStatus" href="#bg-batchStatus" class="" aria-expanded="true"><i class="ion-minus-round"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="bg-batchStatus" class="panel-collapse collapse in" aria-expanded="true">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tblBatchStatus" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Batch No</th>
                                        <th>Production Qty</th>
                                        <th>Product</th>
                                        <th>Shade</th>
                                        <th>Batch Start Date</th>
                                        <th>Ordered Qty</th>
                                        <th>In Grinding?</th>
                                        <th>In Shading?</th>
                                        <th>In QC?</th>
                                        <th>In Packing?</th>
                                        <th>Completed?</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (ViewBag.BatchStatus != null)
                                    {
                                        foreach (ViewModels.Batch batch in ViewBag.BatchStatus)
                                        {
                                    <tr data-empid="@batch.ID">
                                        <td>@batch.BatchNo </td>
                                        <td>@batch.ProductionQty</td>
                                        <td>@batch.ProductName </td>
                                        <td>@batch.ShadeName</td>
                                        <td>@(batch.GrindingStartDate.HasValue ? batch.GrindingStartDate.Value.ToString("dd/MM/yyyy") : "Not Started Yet") </td>
                                        <td>@batch.OrderedQty</td>
                                        <td><input type="checkbox" @((batch.GrindingStartDate.HasValue && !batch.GrindingDoneDate.HasValue) || (!batch.ShadingStartDate.HasValue) ? "checked" : "") disabled /></td>
                                        <td><input type="checkbox" @((batch.ShadingStartDate.HasValue && !batch.ShadingDoneDate.HasValue) || (!batch.QCStartDate.HasValue) ? "checked" : "") disabled /></td>
                                        <td><input type="checkbox" @((batch.QCStartDate.HasValue && !batch.QCDoneDate.HasValue) || (!batch.PackingStartDate.HasValue) ? "checked" : "") disabled /></td>
                                        <td><input type="checkbox" @(batch.PackingStartDate.HasValue && !batch.PackingDoneDate.HasValue ? "checked" : "") disabled /></td>
                                        <td><input type="checkbox" @(batch.PackingDoneDate.HasValue ? "checked" : "") disabled /></td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="portlet">
            <div class="portlet-heading bg-primary">
                <h3 class="portlet-title">
                    Reorder Status
                </h3>
                <div class="portlet-widgets">
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#reorderStatus" href="#bg-reorderStatus" class="" aria-expanded="true"><i class="ion-minus-round"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="bg-reorderStatus" class="panel-collapse collapse in" aria-expanded="true">
                <div class="portlet-body">
                    <table id="tblStock" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Code</th>
                                <th>Shade</th>
                                <th>Packing</th>
                                <th>Available Qty</th>
                                <th>Reorder Qty</th>
                                <th>Min Qty</th>
                                <th>Max Qty</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (ViewBag.ReorderStatus != null)
                            {
                                foreach (ViewModels.ReorderStatus product in ViewBag.ReorderStatus)
                                {
                                    <tr>
                                        <td>@product.ProductName</td>
                                        <td>@product.PrintName</td>
                                        <td>@product.ShadeName</td>
                                        <td>@product.PackingName</td>
                                        <td>@product.ClosingQty</td>
                                        <td>@product.ReorderQty</td>
                                        <td>@product.MinQty</td>
                                        <td>@product.MaxQty</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                2017 © Shah Infotech.
            </div>
        </div>
    </div>
</footer>

@Scripts.Render("~/Content/js/datatablejs")
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tblBatchStatus,#tblStock').DataTable();
        //$('.counter').counterUp({
        //    delay: 100,
        //    time: 1200
        //});
        //$('.circliful-chart').circliful();
    });

    /* BEGIN SVG WEATHER ICON */
    if (typeof Skycons !== 'undefined') {
        var icons = new Skycons(
            { "color": "#6a76fc" },
            { "resizeClear": true }
            ),
                list = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);
        icons.play();
    };
   
</script>
