@model IEnumerable<ViewModels.Dispatch>

@if (Model != null)
{
    foreach (var stock in Model)
    {
        <tr data-orderid="@stock.ID">
            <td>@stock.DONo</td>
            <td>@stock.DODate.ToString("dd/MM/yyyy")</td>
            <td>@stock.PartyName</td>
            <td>@stock.Total</td>
        </tr>
    }
}