@model IEnumerable<ViewModels.Stock>

@if (Model != null)
{
    foreach (var stock in Model)
    {
        <tr>
            <td>@stock.ProductName</td>
            <td>@stock.PrintName</td>
            <td>@stock.ShadeName</td>
            <td>@stock.PackingName</td>
            <td>@stock.OpeningQty</td>
            <td>@stock.INQty</td>
            <td>@stock.OUTQty</td>
            @if (stock.ClosingQty > 0)
            {
                <td style="color:green">@stock.ClosingQty</td>
            }
            else
            {
                <td style="color:red">@stock.ClosingQty</td>
            }
        </tr>
    }
}